/* ==========================================================================
   #CARDS
   ========================================================================== */

.card {
	border-width: 2px;
	border-right: none;
	border-left: none;
	border-radius: 0;

	&._border-bottom-color {
		border-bottom-color: $primary-color;
		border-bottom-width: 3px; 
	}

	.subtopic {
		color: palette-color("grey", "dark");
	}
}

.card-header {
	background-color: transparent;
	border-bottom-color: $global-border-color;
}

.item-list {

	.label {
		line-height: 1.8;

		> .required {
			color: palette-color("red");
		}
	}

	.field {
		border: none;
		line-height: 1.8;
		text-indent: 2px;
	}
}