/* ==========================================================================
   #BODY
   ========================================================================== */

body {
	background-color: $body-background-color;
}

.site-wrapper {

	&.has--overlay {

		> *:not(.cart--bottom) {
			filter: blur(2px);
		}

		&::after {
			background-color: palette-color("grey", "darker");
			opacity: .9;
		}
	}
}

.site-content {
	@include font-size(16);
}

.site-sidebar {
	@include font-size(16);
}