/* ==========================================================================
   #BODY
   ========================================================================== */

body {
	background-color: $body-background-color;
}

.site-wrapper {

	&.has--overlay {

		> *:not(.cart--bottom) {
			filter: blur(2px);
		}

		&::after {
			background-color: palette-color("grey", "darker");
			opacity: .9;
		}
	}
}

.site-header {
	@include font-size(16);
	background-color: $header-background-color;
	border-bottom: 2px solid palette-color("grey", "light");

	.title {
		font-size: 2em;
	}
}

.site-content {
	@include font-size(16);
}