/* ==========================================================================
   #CARDS
   ========================================================================== */

.card {
	border-width: 2px;
	border-right: none;
	border-left: none;
	border-radius: 0;

	&._border-bottom-color {
		border-bottom-color: $primary-color;
		border-bottom-width: 3px; 
	}

	.topic {
		font-size: 1em;
	}

	.subtopic {
		color: palette-color("grey", "dark");
		font-size: .8em;
	}
}

.card-header {
	background-color: transparent;
	border-bottom-color: $global-border-color;
}

.form-list {
	border-bottom: 1px solid $global-border-color;

	&:after {
		border-bottom: 1px solid $global-border-color;
		content: "";
		display: block;
		height: 1px;
		width: 20px;
		position: absolute;
		right: -15px;
		bottom: -1px;
	}

	&._full-border {
		&:before {
			border-bottom: 1px solid $global-border-color;
			content: "";
			display: block;
			height: 1px;
			width: 20px;
			position: absolute;
			left: -15px;
			bottom: -1px;
		}
	}

	&:last-of-type {
		border-bottom: none;
	}

	.label {
		line-height: 1.6;
		font-size: 1em;

		> .required {
			color: palette-color("red");
		}
	}

	.field {
		border: none;
		color: palette-color("grey", "dark");
		line-height: 1.6;
		font-size: 1em;

		&._icon {
			background-image: url(#{$img-path}/arrow-select.png);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: 10px 19px;
			padding-right: 25px;
		}
	}

	.delete {
		font-size: 1.4em;
	}
}

.btn-link.question {
	font-size: .7em;
}

.tooltip {
	font-size: .7em;
}

.text-list {

	p {

		small {
			color: palette-color("grey", "dark");
			line-height: 1;
			font-size: .8em;
		}

		+ p {
			color: palette-color("grey", "dark");
		}
	}
}