/* ==========================================================================
   #DOCUMENT
   ========================================================================== */

/**
 * Set basic document styling
 */

html {
	font-size: $html-font-size;
	min-height: 100%;
	overflow-y: scroll;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	@include font($prakasbold, $body-font-size,  $base-font-weight, $base-font-color, $base-font-lh);
	letter-spacing: $global-letter-spacing;
}