/* ==========================================================================
   #HR
   ========================================================================== */

/**
 * Horizontal Rule
 */

hr {
	@include push--auto;
	background-color: $hr-color;
	border: none;
	display: block;
	margin: 10px 0;
	height: $hr-height;
	width: $hr-width;
}
