/* ==========================================================================
   #CARDS
   ========================================================================== */

.card {
	margin-bottom: 20px;
	padding: 15px 0; 

	.topic, .subtopic {
		margin-bottom: 0;
		text-align: center;
	}
}