/* ==========================================================================
   #CARDS
   ========================================================================== */

.card {
	margin-bottom: 20px;
	padding: 15px 0 0; 

	.topic, .subtopic {
		margin-bottom: 0;
		text-align: center;
	}
}

.card-header {
	padding: 0 0 10px;
}

.item-list {
	display: flex;
	justify-content: space-between;
	padding: 15px 0; 
	
	.label {
		margin-bottom: 0;
		width: 50%;
	}

	.field {
		margin-bottom: 0;
		padding: 0;
		text-align: right;
		width: 50%;
	}
}