/* ==========================================================================
   #CARDS
   ========================================================================== */

.card {
	margin-bottom: 20px;
	padding: 15px 0 0; 

	.topic, .subtopic {
		margin-bottom: 0;
		text-align: center;
	}

	.subtopic {
		margin-top: 3px;
	}

	&._pb-10 {
		padding-bottom: 10px;
	}
}

.card-header {
	padding: 0 0 15px;
}

.form-list {
	display: flex;
	justify-content: space-between;
	padding: 15px 0; 
	position: relative;

	&._justify-content-start {
		justify-content: flex-start;

		.form-check-inline {
			// display: block;
			flex-grow: 2;
		}
	}

	._flex-grow-2 {
		flex-grow: 2;
	}
	
	.label {
		margin-bottom: 0;
		width: 50%;
	}

	.field {
		margin-bottom: 0;
		padding: 0;
		text-align: right;
		width: 50%;
	}
}

.text-list {
	display: flex;
	justify-content: space-between;
	padding: 0 0 5px 0;

	p {
		margin-bottom: 0;

		small {
			display: block;
		}

		+ p {
			text-align: right;
		}
	}
}