/* ==========================================================================
   #AIRPAY
   ========================================================================== */

.step-1 .form-list .label {
	min-width: 220px;
}

.step-3 .form-list.delivery .label {
	min-width: 230px;
}

.step-4 .text-list p:first-of-type {
	min-width: 170px;
}

.step-4 {

	.form-check {

		label {
			line-height: 1.2;
			margin: 5px 0 10px;
		}
	}

	.abc-checkbox label::before {
		top: 8px;
	}

	.abc-checkbox label::after {
		top: 12px;
	}
}

.package-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.package-item {
	background-color: palette-color("grey", "lighter");
	margin: 0 auto 5px;
	padding: 20px 15px 15px;
	text-align: center;
	width: calc(50% - 5px);

	.package-name {
		background-color: #fff;
		border-radius: 50px;
		font-size: 1em;
		margin-bottom: 10px;
		padding: 10px 0;
	}

	.package-desc {
		font-size: .9em;
		margin-bottom: 0;
	}

	.package-price {
		font-size: 1em;
		margin-bottom: 0;

		> b {
			font-size: 1.2em;
		}
	}

	hr {
		background-color: palette-color("grey", "darker");
	}

	&.is--active {
		background-color: $primary-color;

		.package-desc, .package-price {
			color: #fff;
		}

		hr {
			background-color: #fff;
		}
	}
}

.caption {
	background-color: $primary-color;
	color: #fff;
	display: block;
	font-size: 1em;
	margin-bottom: 0;
	padding: 10px 15px;

	> span {
		float: right;
	}
}

.btn-toggle {
	background-color: $primary-color;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 5px 15px;
	position: relative;

	&._subtoggle {
		background-color: #6da3f4;
	}

	> span {
		float: right;
		margin-right: 30px;
	}

	&:after {
		content: "";
		position: absolute;
		top: 17px;
		right: 20px;
		border-top: 1px solid #fff;
		border-right: none;
		border-bottom: none;
		border-left: 1px solid #fff;
		height: 10px;
		width: 10px;
		transform: rotate(45deg);
	}

	&.collapsed:after {
		border-top: none;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-left: none;
		top: 11px;
	}

	&:hover, &:focus {
		color: #fff;
	}
}

.package-detail-table {
	margin-bottom: 0;

	td {
		background-color: #f2f8ff;
		border-bottom: 1px solid palette-color("grey", "lighter");
		font-size: .8em;
		line-height: 1.4;
		padding: 10px 15px;
		vertical-align: middle;
		width: 65%;

		+ td {
			background-color: #fff;
			border-left: 1px solid palette-color("grey", "lighter");
			text-align: right;
		}

		.btn-link {
			height: 15px;
			width: 15px;
		}

		small {
			color: palette-color("grey", "dark");
			display: block;
			font-size: .95em;
		}
	}
}
