//-//- Use Master Template Base
extends master/base.pug


//-//- Page Title
block title
	title Step 3


//-//- Custom Meta
block custom-meta
	meta(name="description", content="Step 3")


//-//- Custom Style
block custom-style


//-//- Custom Header Script
block custom-header-script


//-//- Body
block body
	- var bodyClass= 'step-3'; // body class
	include master/bodyclass.pug


		//-//- Page Wrapper
		#page.site-wrapper
 
			//-//- Header
			header#masthead.site-header

				.container
					.row.align-items-center

						.col-1
							a.btn-back(href="#") Back

						.col-10
							h1.title ซื้อประกันภัยการเดินทางต่างประเทศ

						.col-1
							a.btn-next(href="#") Next


			//-//- Main Content
			#content.site-content


				//-//- Primary Content
				#primary.content-area
					main#main.site-main

					.card._border-bottom-color
						.container
							.row

								.col
									header.card-header
										h2.topic STEP 3<br>กรอกข้อมูลส่วนตัว


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ข้อมูลผู้เดินทาง
										h4.subtopic *กรุณาระบุชื่อ นามสกุลเป็นภาษาอังกฤษ

									article
										.form-list
											label.label คำนำหน้า
											select.selectpicker.field._icon(title="เลือก")
												<option>นาย</option>
												<option>นาง</option>
												<option>นางสาว</option>
										.form-list
											label.label ชื่อภาษาอังกฤษ<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label นามสกุลภาษาอังกฤษ<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list._justify-content-start
											<div class="form-check abc-radio abc-radio-primary form-check-inline">
												<input class="form-check-input" type="radio" name="document-type" id="id" value="id" checked>
												<label class="form-check-label" for="id">บัตรประจำตัวประชาชน</label>
											</div>
											<div class="form-check abc-radio abc-radio-primary form-check-inline">
												<input class="form-check-input" type="radio" name="document-type" id="passport" value="passport">
												<label class="form-check-label" for="passport">หนังสือเดินทาง</label>
											</div>
										.form-list
											label.label เลขบัตรประจำตัวประชาชน<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label วัน เดือน ปี เกิด
											input.field._icon.datepicker(type="text", placeholder="เลือก")
										.form-list
											label.label เบอร์โทรศัพท์
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label อีเมล
											input.field(type="text", placeholder="กรอกข้อมูล")


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ที่อยู่
										h4.subtopic *กรุณาระบุเป็นภาษาอังกฤษเท่านั้น

									article
										.form-list
											label.label บ้านเลขที่<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label หมู่
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label หมู่บ้าน
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label ซอย
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label ถนน<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label จังหวัด<abbr class="required" title="required">*</abbr>
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list
											label.label ตำบล/แขวง<abbr class="required" title="required">*</abbr>
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list
											label.label อำเภอ/เขต<abbr class="required" title="required">*</abbr>
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list
											label.label รหัสไปรษณีย์<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ผู้รับผลประโยชน์
										h4.subtopic *กรุณาระบุชื่อ นามสกุลเป็นภาษาอังกฤษ

									article
										.form-list
											label.label เลือกผู้รับผลประโยชน์
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list
											label.label คำนำหน้า
											select.selectpicker.field._icon(title="เลือก")
												<option>นาย</option>
												<option>นาง</option>
												<option>นางสาว</option>
										.form-list
											label.label ชื่อภาษาอังกฤษ<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label นามสกุลภาษาอังกฤษ<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label ความสัมพันธ์
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ซื้อเพิ่มผู้ร่วมเดินทาง
										h4.subtopic (สูงสุด 8 คนต่อการทำรายการ 1 ครั้ง)

									article
										.form-list
											label.label จำนวนผู้ร่วมเดินทาง
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ข้อมูลผู้ร่วมเดินทาง 1
										h4.subtopic *กรุณาระบุชื่อ นามสกุลเป็นภาษาอังกฤษ

									article
										.form-list
											label.label คำนำหน้า
											select.selectpicker.field._icon(title="เลือก")
												<option>นาย</option>
												<option>นาง</option>
												<option>นางสาว</option>
										.form-list
											label.label ชื่อภาษาอังกฤษ<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label นามสกุลภาษาอังกฤษ<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list._justify-content-start
											<div class="form-check abc-radio abc-radio-primary form-check-inline">
												<input class="form-check-input" type="radio" name="document-type-1" id="id-1" value="id-1">
												<label class="form-check-label" for="id-1">บัตรประจำตัวประชาชน</label>
											</div>
											<div class="form-check abc-radio abc-radio-primary form-check-inline">
												<input class="form-check-input" type="radio" name="document-type-1" id="passport-1" value="passport-1">
												<label class="form-check-label" for="passport-1">หนังสือเดินทาง</label>
											</div>
										.form-list
											label.label วัน เดือน ปี เกิด
											input.field._icon.datepicker(type="text", placeholder="เลือก")
										.form-list
											label.label เบอร์โทรศัพท์
											input.field(type="text", placeholder="กรอกข้อมูล")


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic เลือกที่อยู่ของผู้ร่วมเดินทาง 1

									article
										.form-list
											label.label ที่อยู่ของผู้ร่วมเดินทาง
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ที่อยู่ของผู้ร่วมเดินทาง 1
										h4.subtopic *กรุณาระบุเป็นภาษาอังกฤษเท่านั้น

									article
										.form-list
											label.label บ้านเลขที่<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label หมู่
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label หมู่บ้าน
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label ซอย
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label ถนน<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")
										.form-list
											label.label จังหวัด<abbr class="required" title="required">*</abbr>
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list
											label.label ตำบล/แขวง<abbr class="required" title="required">*</abbr>
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list
											label.label อำเภอ/เขต<abbr class="required" title="required">*</abbr>
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list
											label.label รหัสไปรษณีย์<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="กรอกข้อมูล")


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ผู้รับผลประโยชน์ ของผู้ร่วมเดินทาง 1
										h4.subtopic *กรุณาระบุชื่อ นามสกุลเป็นภาษาอังกฤษ

									article
										.form-list
											label.label เลือกผู้รับผลประโยชน์
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic ข้อมูลใบเสร็จ / อื่นๆ

									article
										.form-list.delivery
											label.label ที่อยู่ในการจัดส่งใบเสร็จ / กรมธรรม์
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>
										.form-list.delivery
											label.label ช่องทางรับกรมธรรม์ประกันภัย
											select.selectpicker.field._icon(title="เลือก")
												<option>1</option>
												<option>2</option>
												<option>3</option>



			//- Secondary Content
			#secondary.sidebar-area
				aside#sidebar.site-sidebar

					.card.page-action
						.container
							.row

								.col
									a.btn.btn-primary.btn-block(href="#") ถัดไป


		//-//- Main Script
		block script
			include script/master-script.js

		</body>
