//-//- Use Master Template Base
extends master/base.pug


//-//- Page Title
block title
	title Step 2


//-//- Custom Meta
block custom-meta
	meta(name="description", content="Step 2")


//-//- Custom Style
block custom-style


//-//- Custom Header Script
block custom-header-script


//-//- Body
block body
	- var bodyClass= 'step-2'; // body class
	include master/bodyclass.pug


		//-//- Page Wrapper
		#page.site-wrapper
 
			//-//- Header
			header#masthead.site-header

				.container
					.row.align-items-center

						.col-1
							a.btn-back(href="#") Back

						.col-10
							h1.title ซื้อประกันภัยการเดินทางต่างประเทศ

						.col-1
							a.btn-next(href="#") Next


			//-//- Main Content
			#content.site-content


				//-//- Primary Content
				#primary.content-area
					main#main.site-main

					.card._border-bottom-color
						.container
							.row

								.col
									header.card-header
										h2.topic STEP 2<br>รายละเอียดแผนประกัน


					.card.package-card
						.container
							.row

								.col

									article
										.package-list

											.package-item.is--active
												a(href="#")
													h3.package-name Backpack 1
													h4.package-desc ความคุ้มครองสูงสุด<br>เดินทางแบบไม่ต้องกังวล
													hr
													h6.package-price <b>195</b> บาท

											.package-item
												a(href="#")
													h3.package-name Backpack 2
													h4.package-desc ความคุ้มครองครอบคลุม<br>มั่นใจทุกการเดินทาง
													hr
													h6.package-price <b>325</b> บาท

											.package-item
												a(href="#")
													h3.package-name Backpack 3
													h4.package-desc ความคุ้มครองมาตรฐาน<br>ไปที่ไหนก็อุ่นใจ
													hr
													h6.package-price <b>638</b> บาท

											.package-item
												a(href="#")
													h3.package-name Backpack 4
													h4.package-desc ความคุ้มครองขั้นต่ำ<br>ประหยัดเบี้ย ยื่นวีซ่าได้
													hr
													h6.package-price <b>1,048</b> บาท


			//- Secondary Content
			#secondary.sidebar-area
				aside#sidebar.site-sidebar

					.card.page-action
						.container
							.row

								.col
									.action-meta
										p ราคา
										p 195 บาท

									a.btn.btn-primary.btn-block(href="#") เลือกแผนนี้



			//- Modal
			aside
				#modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
					.modal-dialog.modal-dialog-centered(role="document")
						.modal-content
							.modal-header
								h5.modal-title title หัวข้อ
							.modal-body
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ab nostrum in fugiat, labore repellat impedit.
								ol
									li ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
									li ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
									li ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
								p ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
							.modal-footer
								<button type="button" class="btn btn-primary" data-dismiss="modal">ย้อนกลับ</button>


		//-//- Main Script
		block script
			include script/master-script.js

		</body>
