//-//- Use Master Template Base
extends master/base.pug


//-//- Page Title
block title
	title Step 2


//-//- Custom Meta
block custom-meta
	meta(name="description", content="Step 2")


//-//- Custom Style
block custom-style


//-//- Custom Header Script
block custom-header-script


//-//- Body
block body
	- var bodyClass= 'step-2'; // body class
	include master/bodyclass.pug


		//-//- Page Wrapper
		#page.site-wrapper
 
			//-//- Header
			header#masthead.site-header

				.container
					.row.align-items-center

						.col-1
							a.btn-back(href="step1.html") Back

						.col-10
							h1.title ซื้อประกันภัยการเดินทางต่างประเทศ

						.col-1
							a.btn-next(href="#") Next


			//-//- Main Content
			#content.site-content


				//-//- Primary Content
				#primary.content-area
					main#main.site-main

					.card._border-bottom-color
						.container
							.row

								.col
									header.card-header
										h2.topic STEP 2<br>รายละเอียดแผนประกัน


					.card.package-card
						.container
							.row

								.col

									article
										.package-list

											.package-item.is--active
												a(href="#")
													h3.package-name Backpack 1
													h4.package-desc ความคุ้มครองสูงสุด<br>เดินทางแบบไม่ต้องกังวล
													hr
													h6.package-price <b>195</b> บาท

											.package-item
												a(href="#")
													h3.package-name Backpack 2
													h4.package-desc ความคุ้มครองครอบคลุม<br>มั่นใจทุกการเดินทาง
													hr
													h6.package-price <b>325</b> บาท

											.package-item
												a(href="#")
													h3.package-name Backpack 3
													h4.package-desc ความคุ้มครองมาตรฐาน<br>ไปที่ไหนก็อุ่นใจ
													hr
													h6.package-price <b>638</b> บาท

											.package-item
												a(href="#")
													h3.package-name Backpack 4
													h4.package-desc ความคุ้มครองขั้นต่ำ<br>ประหยัดเบี้ย ยื่นวีซ่าได้
													hr
													h6.package-price <b>1,048</b> บาท


					.card.package-detail

						article
							a.btn-toggle(data-toggle="collapse", href="#detail-1", role="button", aria-expanded="true", aria-controls="detail-1") แผนประกันการเดินทาง <span>Backpack 1</span>

							.collapse.show#detail-1
								table.package-detail-table
									tr
										td สูญเสียชีวิต/อวัยวะจากอุบัติเหตุ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 1 ล้าน
									tr
										td ค่ารักษาพยาบาลในต่างประเทศ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 500,000
									tr
										td การเคลื่อนย้ายผู้ป่วยฉุกเฉิน และค่าใช้จ่ายการส่งศพ หรืออัฐิกลับประเทศ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 1 ล้าน
									tr
										td กระเป๋าเดินทาง + ทรัพย์สินส่วนตัวภายในกระเป๋าเดินทางสูญหายหรือเสียหาย เกิดจากการดูแลของ โรงแรม, สายการบิน หรือชิงทรัพย์ ปล้นทรัพย์ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(จำกัดมูลค่าสูงสุด / ชิ้น / คู่ / ชุด)</small>
										td 5,000<small>10,000</small>
									tr
										td การล่าช้าในการเดินทาง (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(จ่าย 10% ทุกๆ 6 ชม.ของวงเงินข้อนี้)</small>
										td -
									tr
										td การล่าช้าของกระเป๋าเดินทาง (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(จ่าย 10% ทุกๆ 8 ชม.ของวงเงินข้อนี้)</small>
										td -
									tr
										td ความรับผิดต่อบุคคลภายนอก (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 500,000
									tr
										td การขยายระยะเวลาการเอาประกัน โดยอัตโนมัติ <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td สูงสุด 7 วัน

							h5.caption ความคุ้มครองทั้งหมดที่จะได้รับ <span>Backpack 1</span>

							a.btn-toggle._subtoggle(data-toggle="collapse", href="#detail-2", role="button", aria-expanded="true", aria-controls="detail-2") คุ้มครองชีวิต อุบัติเหตุ และสุขภาพ

							.collapse.show#detail-2
								table.package-detail-table
									tr
										td สูญเสียชีวิต/อวัยวะจากอุบัติเหตุ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 1 ล้าน
									tr
										td ค่ารักษาพยาบาลในต่างประเทศ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 500,000
									tr
										td ค่ารักษาพยาบาลในประเทศไทย (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 50,000
									tr
										td การเคลื่อนย้ายผู้ป่วยฉุกเฉิน และค่าใช้จ่ายการส่งศพ หรืออัฐิกลับประเทศ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 1 ล้าน
									tr
										td ความรับผิดชอบต่อบุคคลภายนอก (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 500,000
									tr
										td ค่าเดินทางเพื่อเยี่ยมผู้ป่วยที่โรงพยาบาล (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td -

							a.btn-toggle._subtoggle(data-toggle="collapse", href="#detail-3", role="button", aria-expanded="true", aria-controls="detail-3") คุ้มครองทรัพย์สิน

							.collapse.show#detail-3
								table.package-detail-table
									tr
										td กระเป๋าเดินทาง + ทรัพย์สินส่วนตัวภายในกระเป๋าเดินทางสูญหายหรือเสียหาย เกิดจากการดูแลของ โรงแรม, สายการบิน หรือชิงทรัพย์ ปล้นทรัพย์ (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(จำกัดมูลค่าสูงสุด / ชิ้น / คู่ / ชุด)</small>
										td 5,000<small>10,000</small>
									tr
										td เอกสารการเดินทาง เช่น หนังสือเดินทาง วีซ่า (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 1,000
									tr
										td การสูญเสียหรือความเสียหายของทรัพย์สินภายในบ้าน เช่น เฟอร์นิเจอร์เสียหายจากเหตุไฟไหม้ <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td -
									tr
										td การล่าช้าของกระเป๋าเดินทาง (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(เมื่อล่าช้าเกิน 8-24 ชม. แบ่งจ่ายตามเงื่อนไขกรมธรรม์)</small>
										td -
									tr
										td การสูญเสียหรือความเสียหายของกระเป๋าเดินทาง ทรัพย์สินส่วนตัว รวมถึงคอมพิวเตอร์โน๊ตบุค อันเนื่องมาจากภัยธรรมชาติ <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td 5,000
									tr
										td ความรับผิดชอบต่อบัตรเครดิต (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td -

							a.btn-toggle._subtoggle(data-toggle="collapse", href="#detail-4", role="button", aria-expanded="true", aria-controls="detail-4") คุ้มครองทรัพย์สิน

							.collapse.show#detail-4
								table.package-detail-table
									tr
										td การเลื่อนหรือการบอกเลิกการเดินทางก่อนออกเดินทางจากประเทศไทย (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(สาเหตุจาก เสียชีวิต บาดเจ็บสาหัส เจ็บป่วยหนัก หรือที่พักในไทยไฟไหม้ น้ำท่วม พายุไต้ฝุ่น แผ่นดินไหว)</small>
										td 10,000
									tr
										td การล่าช้าในการเดินทาง (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(จ่าย 10% ทุกๆ 6 ชม.ของวงเงินข้อนี้)</small>
										td -
									tr
										td การพลาดการต่อเที่ยวบิน (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(ตั้งแต่ 8 ชั่วโมงเป็นต้นไป)</small>
										td -
									tr
										td ค่าใช้จ่ายในการลดจำนวนวันเดินทาง (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td -
									tr
										td การจี้เครื่องบิน (บาท) <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button><small>(จ่าย 5,000 บาท ทุกๆ 24 ชม. เต็ม)</small>
										td -
									tr
										td การขยายระยะเวลาการเอาประกัน โดยอัตโนมัติ <button type="button" class="btn-link question" data-toggle="modal" data-target="#modal"></button>
										td สูงสุด 7 วัน
	


			//- Secondary Content
			#secondary.sidebar-area
				aside#sidebar.site-sidebar

					.card.page-action
						.container
							.row

								.col
									.action-meta
										p ราคา
										p 195 บาท

									a.btn.btn-primary.btn-block(href="step3.html") เลือกแผนนี้



			//- Modal
			aside
				#modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
					.modal-dialog.modal-dialog-centered(role="document")
						.modal-content
							.modal-header
								h5.modal-title title หัวข้อ
							.modal-body
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ab nostrum in fugiat, labore repellat impedit.
								ol
									li ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
									li ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
									li ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
								p ข้อความข้อความ ข้อความ ข้อความ ข้อความข้อความ
							.modal-footer
								<button type="button" class="btn btn-primary" data-dismiss="modal">ย้อนกลับ</button>


		//-//- Main Script
		block script
			include script/master-script.js

		</body>
