//-//- Use Master Template Base
extends master/base.pug


//-//- Page Title
block title
	title Template


//-//- Custom Meta
block custom-meta
	meta(name="description", content="Page description")


//-//- Custom Style
block custom-style


//-//- Custom Header Script
block custom-header-script


//-//- Body
block body
	- var bodyClass= ''; // body class
	include master/bodyclass.pug


		//-//- Page Wrapper
		#page.site-wrapper
 
			//-//- Header
			header#masthead.site-header

				.container
					.row.align-items-center

						.col-2
							a.btn-back(href="#") Back

						.col-8
							h1.title Page Title ชื่อหน้า

						.col-2
							a.btn-next(href="#") Next


			//-//- Main Content
			#content.site-content


				//-//- Primary Content
				#primary.content-area
					main#main.site-main

					.card._border-bottom-color
						.container
							.row

								.col
									header.card-header
										h2.topic Page Topic หัวข้อหลัก<br>topic new line บรรทัดใหม่


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic Page Topic หัวข้อหลัก
										h4.subtopic Sub Topic หัวข้อรอง

									article
										.form-list
											label.label label left ข้อความซ้าย<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="input field")
										.form-list
											label.label label left ข้อความซ้าย
											input.field(type="text", placeholder="input field เลือก")
										.form-list
											label.label input
											input.field._icon(type="text", placeholder="เลือก")
										.form-list
											label.label select
											select.field._icon(placeholder="เลือก")
												option
												option 1
												option 2
												option 3
										.form-list
											label.label ข้อความซ้าย
											input.field(type="text", value="ใส่ข้อความขวา")

					.card._pb-10
						.container
							.row

								.col

									article
										.text-list
											p ข้อความซ้าย
											p ข้อความขวา
										.text-list
											p ข้อความซ้ายข้อความซ้าย ข้อความซ้าย ข้อความซ้าย ข้อความซ้ายข้อความซ้าย
											p ข้อความขวา
										.text-list
											p ข้อความซ้าย
											p ข้อความขวาข้อความขวา ข้อความขวา ข้อความขวา ข้อความขวาข้อความขวา

										hr

										.text-list
											p ข้อความซ้าย<small>ข้อความซ้ายข้อความซ้าย</small>
											p ข้อความขวา

										hr

										.text-list
											p ข้อความซ้ายข้อความซ้าย
											p ข้อความขวา
										.text-list
											p ข้อความซ้าย
											p ข้อความขวาข้อความขวา ข้อความขวา ข้อความขวา ข้อความขวาข้อความขวา





			//- Secondary Content
			#secondary.sidebar-area
				aside#sidebar.site-sidebar

					.card.page-action
						.container
							.row

								.col
									.action-meta
										p text left ซ้าย
										p text right ขวา

									a.btn.btn-primary.btn-block(href="#") button ปุ่ม

					.card.page-action._transparent
						.container
							.row

								.col
									a.btn.btn-primary.btn-block(href="#") button ยืนยัน

					.card.page-action._fixed
						.container
							.row

								.col
									a.btn.btn-primary.btn-block(href="#") button


		//-//- Main Script
		block script
			include script/master-script.js

		</body>
