//-//- Use Master Template Base
extends master/base.pug


//-//- Page Title
block title
	title Template


//-//- Custom Meta
block custom-meta
	meta(name="description", content="Page description")


//-//- Custom Style
block custom-style


//-//- Custom Header Script
block custom-header-script


//-//- Body
block body
	- var bodyClass= ''; // body class
	include master/bodyclass.pug


		//-//- Page Wrapper
		#page.site-wrapper
 
			//-//- Header
			header#masthead.site-header

				.container
					.row

						.col-2
							a.btn-back(href="#") Back

						.col-8
							h1.title Page Title ชื่อหน้า

						.col-2
							a.btn-next(href="#") Next


			//-//- Main Content
			#content.site-content


				//-//- Primary Content
				#primary.content-area
					main#main.site-main

					.card._border-bottom-color
						.container
							.row

								.col
									h2.topic Page Topic หัวข้อหลัก<br>topic new line บรรทัดใหม่


					.card
						.container
							.row

								.col
									header.card-header
										h3.topic Page Topic หัวข้อหลัก
										h4.subtopic Sub Topic หัวข้อรอง

									article
										.item-list
											label.label label left ข้อความซ้าย<abbr class="required" title="required">*</abbr>
											input.field(type="text", placeholder="input field")
										.item-list
											label.label label left ข้อความซ้าย
											input.field(type="text", placeholder="input field ข้อความขวา")
										.item-list
											label.label ข้อความซ้าย
											input.field(type="text", value="ข้อความขวา")

					.card
						.container
							.row

								.col
									h3 Card การ์ด



			//- Secondary Content
			#secondary.sidebar-area
				aside#sidebar.site-sidebar

					.card.page-action
						.container
							.row

								.col
									.action-meta
										p text left ซ้าย
										p text right ขวา

									a.btn.btn-primary.btn-block(href="#") button ปุ่ม

					.card.page-action._transparent
						.container
							.row

								.col
									a.btn.btn-primary.btn-block(href="#") button ยืนยัน

					.card.page-action._fixed
						.container
							.row

								.col
									a.btn.btn-primary.btn-block(href="#") button


		//-//- Main Script
		block script
			include script/master-script.js

		</body>
